html {
    scroll-behavior: smooth;
}

.process-header {
    background: url('Images/process-background-image.png') no-repeat fixed center;
    background-size: cover;
    width: 100vw;
    height: 750px;
    top: 0;
    position: absolute;
    z-index: -1;
    h1 {
        padding-top: 360px;
        margin: 0 74px;
    }
    h2 {
        margin: 0 74px;
    }
    .read-more-section {
        z-index: 1000;
        position: absolute;
        margin: 0 74px;
        margin-top: 100px;
        display: flex;
        align-items: center;  
        cursor: pointer;    
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        &:hover {
            animation-name: bounce;
            -moz-animation-name: bounce;
        }
        img {
            border: 3px solid #ffffff;
            z-index: 1000;
            border-radius: 50%;
            padding: 10px;
            margin-right: 20px;
        }
    }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.process-article {
   margin-top: 750px;
   padding-top: 50px;
    .process-article-bold {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
    }
    #process-article-reg-1 {
        grid-column: 7 / span 6;
        grid-row: 1 / span 1;
        margin-bottom: 50px;
    }
    #process-article-reg-2 {
        grid-column: 7 / span 6;
        grid-row: 2 / span 1;
        margin-bottom: 100px;
    }
    figure {
        grid-column: 2 / span 10;
        grid-row: 3 / span 1;
        margin-bottom: 70px;
        img {
            width: 100%;
        }
    }
    #process-article-reg-3 {
        grid-column: 3 / span 8;
        grid-row: 4 / span 1;
        margin-bottom: 50px;
    }
    #process-article-reg-4 {
        grid-column: 3 / span 8;
        grid-row: 5 / span 1;
        margin-bottom: 100px;
    }
}

.process-further-links {
    margin-bottom: 220px;
    .link-section {
        div {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &:hover {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
                animation-name: right-bounce;
                -moz-animation-name: right-bounce;
            }
        }
        grid-column: 3 / span 8;
        padding: 40px 0;
        border-bottom: solid 5px #000000;
    }
}

@keyframes right-bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateX(0);
		-ms-transform:     translateX(0);
		transform:         translateX(0)
	}
	40% {
		-webkit-transform: translateX(30px);
		-ms-transform:     translateX(30px);
		transform:         translateX(30px)
	}
	60% {
		-webkit-transform: translateX(15px);
		-ms-transform:     translateX(15px);
		transform:         translateX(15px)
	}
}

@media (max-width: 376px) {
    .process-header {
        height: 500px;
        h1 {
            padding-top: 100px;
            margin: 0 20px;
        }
        h2 {
            margin: 20px;
        }
        .read-more-section {
            display: none;
        }
    }

    .process-article {
        margin-top: 500px;
        .process-article-bold {
            grid-column: 1 / span 4;
            grid-row: 1 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-1 {
            grid-column: 1 / span 4;
            grid-row: 2 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-2 {
            grid-column: 1 / span 4;
            grid-row: 3 / span 1;
            margin-bottom: 50px;
        }
        figure {
            grid-column: 1 / span 4;
            grid-row: 4 / span 1;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
        }
        #process-article-reg-3 {
            grid-column: 1 / span 4;
            grid-row: 5 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-4 {
            grid-column: 1 / span 4;
            grid-row: 6 / span 1;
            margin-bottom: 50px;
        }
    }

    .process-further-links {
        margin: 0 40px;
        margin-bottom: 90px;
        .link-section {
            div {
                &:hover {
                    animation: none;
                }
                img {
                    margin-left: 30px;
                }
            }
            grid-column: 1 / span 4;
            padding: 30px 0;
        }
    }
}
  
@media (min-width: 377px) and (max-width: 480px) {
    .process-header {
        height: 600px;  
        h1 {
            padding-top: 100px;
            margin: 0 30px;
        }
        h2 {
            margin: 20px 30px;
        }
        .read-more-section {
            display: none;
        }
    }

    .process-article {
        margin-top: 600px;
        .process-article-bold {
            grid-column: 1 / span 6;
            grid-row: 1 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-1 {
            grid-column: 1 / span 6;
            grid-row: 2 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-2 {
            grid-column: 1 / span 6;
            grid-row: 3 / span 1;
            margin-bottom: 50px;
        }
        figure {
            grid-column: 1 / span 6;
            grid-row: 4 / span 1;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
        }
        #process-article-reg-3 {
            grid-column: 1 / span 6;
            grid-row: 5 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-4 {
            grid-column: 1 / span 6;
            grid-row: 6 / span 1;
            margin-bottom: 50px;
        }
    }

    .process-further-links {
        margin: 0 40px;
        margin-bottom: 90px;
        .link-section {
            div {
                &:hover {
                    animation: none;
                }
                img {
                    margin-left: 30px;
                }
            }
            grid-column: 1 / span 6;
            padding: 30px 0;
        }
    }
}
  
@media (min-width: 481px) and (max-width: 768px) {
    .process-header {
        height: 800px;
        h1 {
            padding-top: 200px;
            margin: 0 40px;
        }
        h2 {
            margin: 20px 40px;
        }
        .read-more-section {
            display: none;
        }
    }

    .process-article {
        margin-top: 800px;
        .process-article-bold {
            grid-column: 1 / span 8;
            grid-row: 1 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-1 {
            grid-column: 1 / span 8;
            grid-row: 2 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-2 {
            grid-column: 1 / span 8;
            grid-row: 3 / span 1;
            margin-bottom: 50px;
        }
        figure {
            grid-column: 1 / span 8;
            grid-row: 4 / span 1;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
        }
        #process-article-reg-3 {
            grid-column: 1 / span 8;
            grid-row: 5 / span 1;
            margin-bottom: 50px;
        }
        #process-article-reg-4 {
            grid-column: 1 / span 8;
            grid-row: 6 / span 1;
            margin-bottom: 50px;
        }
    }

    .process-further-links {
        margin: 0 40px;
        margin-bottom: 90px;
        .link-section {
            div {
                &:hover {
                    animation: none;
                }
                img {
                    margin-left: 30px;
                }
            }
            grid-column: 1 / span 8;
            padding: 30px 0;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .process-header {
        .read-more-section {
            margin-top: 100px;
        }
        h1 {
            padding-top: 200px;
        }
    }
    .link-section {
        div {
            img {
                margin-left: 30px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .process-header {
        h1 {
            padding-top: 200px;
        }
        .read-more-section {
            margin-top: 100px;
        }
    }
}